@media screen and (max-width: 767.98px) {
  .flex-container {
    flex-flow: column wrap;
  }
}
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row wrap;
  }
}

:root {
  --primary-color: #fbf1c7e1;
  --secondary-color: #3c3836e1;
  --bg: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #d5c4a1;

  --red: #fb4934;
  --green: #b8bb26;
  --greenDark: #98971a;
  --greenLight: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --darkBlue: #458588;
  --darkerBlue: #076678;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;

  --grey: #928374;
  --greyDark: #7c6f64;
}

* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

body {
  background: var(--bg);
  font-family: "Fira Code", monospace;
  color: var(--primary-color);
  margin: auto;
  max-width: 768px;
  min-width: none;
}

.container {
  background-color: var(--bg0);
  padding: 12px;
  border-radius: 8px;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  /* margin-top: 2em; */
}

.flex-container {
  display: flex;
  margin: 24px;
  justify-content: space-between;
  gap: 12px;
}

div.header-column-1 {
  float: left;
  width: 50%;
}

div.header-column-2 {
  float: right;
}

div.header-row {
  margin: 12px;
}

div.header-row:after {
  content: "";
  display: table;
  clear: both;
}

a.back {
  color: var(--purple);
  text-decoration: none;
}

.portfolio-content {
  /* padding: 0 12px; */
  margin: 0 12px;
}

.portfolio-item div, h1, h3, h4, h5, p {
  margin: 12px 12px;
}

.portfolio-header {
  padding: 26px;
  /* margin: 26px 0 12px 0; */
  width: 100%;
  color: var(--primary-color);
  border: 2px solid var(--bg0);
  border-radius: 8px;
}

img {
  border-radius: 8px;
  border: 8px solid var(--secondary-color);
}

/* Fonts */

.sans {
  font-family: 'Fira Sans', sans-serif;
}

.condensed {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.condensedBold {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
}

/* Colors */

.darkText {
  color: var(--secondary-color);
}

.altText {
  color: var(--bg2);
}

.text-blue {
  color: var(--blue);
}

.text-purple {
  color: var(--purple);
}

.light-blue {
  background-color: var(--blue);
}

.darker-blue {
  background-color: var(--darkerBlue);
}

.grey {
  background-color: var(--grey);
}

.purple {
  background-color: var(--purple);
  flex: auto;
}

.green {
  background-color: var(--green);
  flex: auto;
}

.text-green {
  color: var(--green);
}

.red {
  background-color: var(--red);
  flex: auto;
}

.aqua {
  background-color: var(--aqua);
  flex: auto;
}

.text-aqua {
  color: var(--aqua);
}

.dark-green {
  background-color: var(--greenDark);
  flex: auto;
}

.dark-blue {
  background-color: var(--darkBlue);
  flex: auto;
}

.yellow {
  background-color: var(--yellow);
}

/* Buttons */

button {
  padding: 24px;
  flex: 0 0 32.1%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  border: 2px solid var(--bg0);
  border-radius: 8px;
}

button:hover {
  filter: brightness(120%) drop-shadow(8px 8px 10px black);
}

button:active {
  filter: brightness(75%);
}
